html,
body,
#banner {
  margin: 0;
}

:root {
  --main-color: #008080;
  --bg-dark: #1e1e1e;
  --bg-light: #E8E9EB;
  --font-color: #fff;
}

html,
body {
  overflow-x: hidden !important;
  width: 100% !important;
  font-family: 'Lora', serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 26px;
  font-weight: 800;
}
p{
  font-size: 17px;
}

img {
  border-radius: 15px;
}

.section {
  padding: 80px 0;
}

a.common_btn {
  text-decoration: none;
  padding: 6px 18px;
  color: var(--font-color);
  background: var(--main-color);
  border: 1px solid transparent;
  transition: all 0.5s;
}

a.common_btn:hover {
  border: 1px solid var(--main-color);
  color: var(--bg-dark);
  background: var(--font-color);
}

.container {
  width: 100%;
  max-width: 1440px !important;
  padding: 0 15px;
  margin: 0 auto;
}

/* /header/ */


.nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px 60px;
  text-transform: uppercase;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav>.nav-header {
  flex: 0.95;
  padding-left: 1rem;
}

.nav>.nav-header>.nav-title {
  font-size: 22px;
  color: var(--font-color);
}

.nav>.nav-list {
  display: flex;
  gap: 2rem;
  margin-bottom: 0;
}

.nav>.nav-list>li {
  list-style-type: none;
}

.nav>.nav-list>li a {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
  font-weight: 600;
}

.nav>.nav-list>li a.active {
  color: var(--main-color)
}

.nav>.nav-list>li a:hover {
  color: var(--main-color)
}

.nav>#nav-check {
  display: none;
}

header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-title a {
  text-decoration: none;
  color: var(--main-color);
}

.nav-title a img {
  max-width: 120px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--font-color);
}

.sub_banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.sub_banner {
  position: relative;
}

.sub_banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--font-color);
  margin-top: 70px;
  width: 100%;
}

.sub_banner::before {
  position: absolute;
  content: '';
  background: #000000a8;
  width: 100%;
  height: 100%;
  z-index: 0;
}


/* lasvegas_content */

.lasvegas_content img {
  border-radius: 0px 70px 0px 70px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.lasvegas_content {
  background-color: var(--bg-light);
}

/* resorts */

.resorts img {
  border-radius: unset;
  height: 350px;
  object-fit: cover;
  transition: all 0.5s;
}

.resorts img:hover {
  filter: brightness(0.5);
}

.content_section {
  padding: 25px 10px;
}

.content_section {
  padding: 25px 15px;
}

.resort_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #008080;
  height: 100%;
}

.rating i {
  color: var(--main-color);
}

.lvc_second {
  background: var(--bg-light)
}


/* news letter css */
.inner_news_letter_right label {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--bg-dark);
}

.inner_news_letter_right p {
  margin-top: 16px;
}

.inner_news_letter_left h3 {
  font-size: 24px;
  margin-bottom: 16px;
}


.form-control {
  border-radius: unset;
}

.resort_card img {
  width: 100%;
  border-radius: 0;
}

.footer_left ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}

.footer_left ul li {
  margin-right: 25px;
}

.footer_left ul li a {
  color: var(--main-color);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
}

.footer_right ul {
  display: flex;
  padding: 0;
  list-style: none;
  margin-top: 40px;
}
.footer_right ul li {
  margin-right: 25px;
}

.footer_right ul li a {
  font-size: 20px;
  color: var(--main-color);
}

footer {
  background-color:var(--bg-light);
}

.footer_right h2 {
  color: var(--main-color);
}

.footer_left .logo {
  text-decoration: none;
  font-size: 20px;
  color: var(--main-color);
}

footer .footer_left ul li a {
  transition: all 0.5s;
}
footer .footer_left ul li a:hover {
  color: #000;
}
footer .footer_rightul li a {
  transition: all 0.5s;
}
footer .footer_right ul li a:hover {
  color: #000;
}

.privacy-term h2 {
  font-size: 26px;
  color: var(--main-color);
}
.privacy-term p {
margin-bottom: 16px;
}
a.logo img {
  max-width: 150px;
}

.home_page_banner img {
  height: 600px;
}



/****cookies*****/
.cookie-alert {
  align-items: baseline;
  background: #fff;
  color: var(--main-color);
  left: auto;
  position: fixed;
  width: 100%;
  z-index: 999;
  bottom: 0px;
  display: none;
}

.cookie-alert.show {
  display: block;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.cookie-alert .card-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}

.cookie-content {
  width: 85%;
  padding-right: 10px;
}

.accept-btn {
  width: 15%;
}

.accept-cookies {
  display: block;
  text-align: center;
}

.cookie-content p {
  margin: 0;
  padding-right: 10px;
}

.resort_list {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
}
.common_padding {
  padding: 30px 0;
}
.rating_section {
  border-left: 1px solid #008080;
  border-right: 1px solid #008080;
}
.image_resort_list a img {
  border-radius: 10px 0px 0px 10px;
}
.news_letter_email {
  padding: 20px;
  margin: 0 auto;
  max-width: 700px;
  background: #e8e9eb;
  border-radius: 5px;
}